Flask
gunicorn
waitress
python-dotenv
flask-mail
flasgger
flasgger
flasgger
flask-jwt-extended
flask-jwt-extended
flask-limiter
flask-limiter
flask-sqlalchemy
flask-sqlalchemy
flask-wtf
flask-wtf
pytesseract
PyMuPDF
reportlab
pandas
pdfplumber
openai
ofxparse
openpyxl
bcrypt

gunicorn

psycopg2-binary
requests
