=== SQL PostgreSQL PDP V3 ===

-- TABLE: pdp_v3_workflows

CREATE TABLE pdp_v3_workflows (
	id INTEGER NOT NULL, 
	facture_id INTEGER, 
	numero VARCHAR(255) NOT NULL, 
	sens VARCHAR(50) NOT NULL, 
	statut VARCHAR(100) NOT NULL, 
	canal VARCHAR(100) NOT NULL, 
	accuse_reception VARCHAR(255), 
	date_action VARCHAR(255), 
	detail VARCHAR(2000), 
	PRIMARY KEY (id)
)



-- TABLE: pdp_v3_archives

CREATE TABLE pdp_v3_archives (
	id INTEGER NOT NULL, 
	nom_archive VARCHAR(255) NOT NULL, 
	empreinte_sha256 VARCHAR(255) NOT NULL, 
	date_archive VARCHAR(255), 
	detail VARCHAR(2000), 
	PRIMARY KEY (id)
)



-- TABLE: pdp_v3_journal_technique

CREATE TABLE pdp_v3_journal_technique (
	id INTEGER NOT NULL, 
	type_evenement VARCHAR(255) NOT NULL, 
	reference VARCHAR(255), 
	message VARCHAR(2000) NOT NULL, 
	empreinte_sha256 VARCHAR(255), 
	date_evenement VARCHAR(255), 
	PRIMARY KEY (id)
)



