
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>ComptaPilot V3</title>

    <style>

        body{
            background:#0b1020;
            color:white;
            font-family:Arial;
            text-align:center;
            padding-top:120px;
        }

        a{
            display:inline-block;
            padding:18px 40px;
            border-radius:12px;
            background:#4f46e5;
            color:white;
            text-decoration:none;
            font-size:22px;
            font-weight:bold;
        }

    </style>

</head>

<body>

    <h1>ComptaPilot V3</h1>

    <p>Plateforme SaaS ERP Comptable</p>

    <br>

    <a href="/auth/login">
        Connexion SUPER ADMIN
    </a>

</body>

</html>

