<h1>Écritures comptables automatiques</h1>

<table border="1" cellpadding="8">
<tr>
    <th>ID</th>
    <th>Journal</th>
    <th>Date</th>
    <th>Libellé</th>
    <th>Compte</th>
    <th>Débit</th>
    <th>Crédit</th>
</tr>

{% for l in lignes %}
<tr>
    <td>{{ l[0] }}</td>
    <td>{{ l[1] }}</td>
    <td>{{ l[2] }}</td>
    <td>{{ l[3] }}</td>
    <td>{{ l[4] }}</td>
    <td>{{ l[5] }}</td>
    <td>{{ l[6] }}</td>
</tr>
{% endfor %}
</table>

<br>

<a href="/ecritures/pro-suite">Retour PRO</a>
