<h1>Supervision PDP v2</h1>

<table border="1" cellpadding="8">
<tr>
    <th>Indicateur</th>
    <th>Valeur</th>
</tr>
<tr>
    <td>Factures dématérialisées</td>
    <td>{{ nb_factures }}</td>
</tr>
<tr>
    <td>Événements workflow</td>
    <td>{{ nb_workflows }}</td>
</tr>
<tr>
    <td>Factures rejetées</td>
    <td>{{ nb_rejetees }}</td>
</tr>
<tr>
    <td>Factures en litige</td>
    <td>{{ nb_litiges }}</td>
</tr>
<tr>
    <td>Archives probatoires</td>
    <td>{{ nb_archives }}</td>
</tr>
</table>

<a href="/ecritures/pdp-ready">Retour PDP</a>
