
{% extends "layouts/erp.html" %}

{% block title %}Balance générale{% endblock %}

{% block content %}
<div class="actions">
    <a class="btn secondary" href="/">Retour dashboard</a>
</div>

<div class="table-card">
<table>
<tr>
<th>Compte</th>
<th>Libell?</th>
<th class="amount">D?bit</th>
<th class="amount">Cr?dit</th>
<th class="amount">Solde</th>
</tr>
{% for r in rows %}
<tr>
<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td class="amount">{{ r[2] }}</td>
<td class="amount">{{ r[3] }}</td>
<td class="amount">{{ r[4] }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
