PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE plan_comptable (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            numero TEXT,
            libelle TEXT,
            type TEXT
        , societe_id INTEGER);
INSERT INTO plan_comptable VALUES(1,'601','achat','charge',NULL);
INSERT INTO plan_comptable VALUES(2,'512','Banque','Actif',NULL);
INSERT INTO plan_comptable VALUES(3,'701','ventes','Produit',2);
CREATE TABLE ecritures (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            date_ecriture TEXT,
            piece TEXT,
            libelle TEXT,
            debit REAL DEFAULT 0,
            credit REAL DEFAULT 0,
            societe_id INTEGER,
            compte_id INTEGER, rapproche INTEGER DEFAULT 0, date_rapprochement TEXT, reference_banque TEXT, journal TEXT, lettrage TEXT, date_lettrage TEXT, rapproche_bancaire INTEGER DEFAULT 0, exercice TEXT,
            FOREIGN KEY (societe_id) REFERENCES societes(id),
            FOREIGN KEY (compte_id) REFERENCES plan_comptable(id)
        );
INSERT INTO ecritures VALUES(2,'2026-05-05','fac2','fournitures',0.0,100.0,1,2,0,NULL,NULL,NULL,'ZHOD','2026-05-07',0,NULL);
INSERT INTO ecritures VALUES(3,'2026-05-05','AUTO1','Achat fournitures',120.0,0.0,2,9,0,NULL,NULL,NULL,'ZHOD','2026-05-07',0,NULL);
INSERT INTO ecritures VALUES(4,'2026-05-05','AUTO1','Achat fournitures',0.0,120.0,2,7,0,NULL,NULL,NULL,'ZHOD','2026-05-07',0,NULL);
CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            username TEXT UNIQUE,
            password TEXT
        );
INSERT INTO users VALUES(1,'Alain BAUDINAUD','scrypt:32768:8:1$EPd06r6mL3smNGJA$d9261287e8f202009efb951852661a73d57820a74d7b422b37cb509c4568395d46f669a988b71a9586572fe096207863db165f0b038e5c8138d624be5442b61a');
INSERT INTO users VALUES(2,'test','scrypt:32768:8:1$UUxAxRllk6bAKpQs$2197fd5015b299ac463931bb0709c1f65b24f58cebdfe2c3656688fb03e6899c66f757cc8a51ec0729c971fbc6a8a419b0cf5e3bda7669c9b540a29a9d61fb23');
CREATE TABLE clotures (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            societe_id INTEGER UNIQUE,
            date_cloture TEXT DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO clotures VALUES(1,1,'2026-05-07');
CREATE TABLE factures (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    numero TEXT,
    client TEXT,
    date_facture TEXT,
    montant_ht REAL,
    tva REAL,
    montant_ttc REAL
, client_id INTEGER, statut TEXT DEFAULT 'Impay├®e', date_echeance TEXT, nombre_relances INTEGER DEFAULT 0, date_derniere_relance TEXT);
INSERT INTO factures VALUES(1,'FAC20260506132838','Client','2026-05-06',96.0,24.0,120.0,NULL,'payee','2026-06-05',0,NULL);
INSERT INTO factures VALUES(2,'FAC20260506145815','Client','2026-05-06',79.2,19.8,99.0,1,'en_attente','2026-06-05',0,NULL);
CREATE TABLE clients (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nom TEXT NOT NULL,
    email TEXT,
    telephone TEXT,
    adresse TEXT,
    siret TEXT,
    tva_intra TEXT
);
INSERT INTO clients VALUES(1,'Alain BAUDINAUD','alain.baudinaud@orange.fr','0678567831','124 Chemin du Bouchaud','','');
CREATE TABLE societes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nom TEXT,
    siret TEXT,
    adresse TEXT
);
CREATE TABLE audit_log (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            action TEXT,
            detail TEXT,
            date_action TEXT
        );
INSERT INTO audit_log VALUES(1,'TRANSMISSION_FACTURE','Facture FD-2026-00001 transmise au client murielle','2026-05-07 16:21:25');
INSERT INTO audit_log VALUES(2,'SIGNATURE','Acc├¿s au module transmission factures','2026-05-08 23:30:15');
INSERT INTO audit_log VALUES(3,'SIGNATURE','Acc├¿s au module transmission factures','2026-05-08 23:33:53');
CREATE TABLE factures_dematerialisees (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            numero TEXT,
            client TEXT,
            montant_ht REAL,
            tva REAL,
            montant_ttc REAL,
            statut TEXT,
            canal TEXT,
            date_creation TEXT,
            date_transmission TEXT,
            preuve TEXT
        );
INSERT INTO factures_dematerialisees VALUES(1,'FD-2026-00001','murielle',250.0,50.0,300.0,'TRANSMISE','PLATEFORME_INTERNE','2026-05-07 16:21:19','2026-05-07 16:21:25','8644cc3453d804391dfadc5778ab7dd7f7df43d31b4c526030d2ab3f871aacd4');
INSERT INTO factures_dematerialisees VALUES(2,'FD-2026-00002','murielle',200.0,40.0,240.0,'BROUILLON','INTERNE','2026-05-07 16:22:12','','');
CREATE TABLE annuaire_clients_pdp (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            siret TEXT,
            tva_intracom TEXT,
            email TEXT
        );
CREATE TABLE workflow_factures_pdp_v2 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            facture_id INTEGER,
            numero TEXT,
            sens TEXT,
            statut TEXT,
            canal TEXT,
            accuse_reception TEXT,
            date_action TEXT,
            detail TEXT
        );
INSERT INTO workflow_factures_pdp_v2 VALUES(1,0,'REC-20260507185525','RECEPTION','RE├çUE','PDP_INTERNE','f6015c7f76319c1a15bef892c9bc6010e31da5b4a2fe0bac8a0b5991d6e14ca9','2026-05-07 18:55:25','Simulation de r├®ception automatique fournisseur');
INSERT INTO workflow_factures_pdp_v2 VALUES(2,0,'REC-20260507185527','RECEPTION','RE├çUE','PDP_INTERNE','07affd2bd1772fde6b4f9d61cc1b8bfc5e8b135bf5ad8631d9d0eb980c1050b6','2026-05-07 18:55:27','Simulation de r├®ception automatique fournisseur');
INSERT INTO workflow_factures_pdp_v2 VALUES(3,0,'REC-20260507185528','RECEPTION','RE├çUE','PDP_INTERNE','7d1bb788bf2a422b3fd49cb1bf92eb2f763996c62b8d20f347a818972888ffc0','2026-05-07 18:55:28','Simulation de r├®ception automatique fournisseur');
CREATE TABLE documents_comptables_importes (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom_fichier TEXT,
            type_document TEXT,
            extension TEXT,
            chemin TEXT,
            taille_ko REAL,
            empreinte_sha256 TEXT,
            statut TEXT,
            date_import TEXT,
            commentaire TEXT
        );
INSERT INTO documents_comptables_importes VALUES(1,'Facture de prestation de d├®pot de capital.pdf','FACTURE_CLIENT','pdf','imports_documents_comptables\20260508_083644_Facture de prestation de d├®pot de capital.pdf',25.23,'c41b72743b1e6f1768460d16a593636cf123dd687956e8bd8013d191a5dedd78','A_TRAITER','2026-05-08 08:36:44','');
INSERT INTO documents_comptables_importes VALUES(2,'facture_Immatriculation_dossier_5785887.pdf','FACTURE_CLIENT','pdf','imports_documents_comptables\20260508_084252_facture_Immatriculation_dossier_5785887.pdf',24.92,'55b4598fa079f32e4d5a04a98f5defa15f5acc06400fb93efd4a27f82c200603','IMPORTE','2026-05-08 08:42:52','');
INSERT INTO documents_comptables_importes VALUES(3,'facture-abonnement-15_04_2026.pdf','FACTURE_CLIENT','pdf','imports_documents_comptables\20260508_093453_facture-abonnement-15_04_2026.pdf',54.51,'43b77058001b2237d469c6f636b292f48f222025f24ebe23974c0bf26fd35272','REJETE','2026-05-08 09:34:53','');
CREATE TABLE extractions_documents_comptables (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            document_id INTEGER,
            fournisseur_client TEXT,
            numero_facture TEXT,
            date_document TEXT,
            montant_ttc TEXT,
            siret TEXT,
            tva_intracom TEXT,
            type_probable TEXT,
            texte_extrait TEXT
        );
CREATE TABLE precomptabilisation_documents (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            document_id INTEGER,
            journal TEXT,
            compte_tiers TEXT,
            compte_charge TEXT,
            compte_tva TEXT,
            libelle TEXT,
            date_piece TEXT,
            montant_ht REAL,
            montant_tva REAL,
            montant_ttc REAL,
            statut TEXT
        );
INSERT INTO precomptabilisation_documents VALUES(1,1,'VEN','411','706','44566','VENTE Qonto (Olinda SAS) n','',435.41,87.08,522.49,'VALIDEE');
INSERT INTO precomptabilisation_documents VALUES(2,1,'VEN','411','706','44566','VENTE Qonto (Olinda SAS) n','',435.41,87.08,522.49,'A_VALIDER');
INSERT INTO precomptabilisation_documents VALUES(3,3,'VEN','411','706','44566','VENTE FACTURE2026-71763 2026-71763','',8.33,1.67,10.0,'A_VALIDER');
CREATE TABLE ecritures_auto (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            journal TEXT,
            date_ecriture TEXT,
            libelle TEXT,
            compte TEXT,
            debit REAL,
            credit REAL
        );
INSERT INTO ecritures_auto VALUES(1,'VEN','','VENTE Qonto (Olinda SAS) n','706',435.41,0.0);
INSERT INTO ecritures_auto VALUES(2,'VEN','','VENTE Qonto (Olinda SAS) n','44566',87.08,0.0);
INSERT INTO ecritures_auto VALUES(3,'VEN','','VENTE Qonto (Olinda SAS) n','411',0.0,522.49);
CREATE TABLE regles_comptables_ia (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            mot_cle TEXT,
            compte_suggere TEXT,
            journal_suggere TEXT,
            type_document TEXT,
            commentaire TEXT
        );
INSERT INTO regles_comptables_ia VALUES(1,'qonto','627','ACH','FACTURE_FOURNISSEUR','Frais bancaires / service Qonto');
CREATE TABLE analyses_ia_documents (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            document_id INTEGER,
            compte_suggere TEXT,
            journal_suggere TEXT,
            regle_trouvee TEXT,
            score_confiance INTEGER,
            doublon TEXT
        );
INSERT INTO analyses_ia_documents VALUES(1,3,'628','OD','Aucune r├¿gle trouv├®e',50,'NON');
INSERT INTO analyses_ia_documents VALUES(2,3,'628','OD','Aucune r├¿gle trouv├®e',50,'NON');
CREATE TABLE fournisseurs_ia_v2 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            compte_pcg TEXT,
            compte_tva TEXT,
            journal TEXT,
            taux_tva REAL,
            nb_validations INTEGER DEFAULT 0,
            derniere_utilisation TEXT
        );
INSERT INTO fournisseurs_ia_v2 VALUES(1,'FACTURE2026-71763 2026-71763','706','44566','VEN',20.0,2,'2026-05-08 09:37:45');
CREATE TABLE historique_apprentissage_ia_v2 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            fournisseur TEXT,
            compte_pcg TEXT,
            compte_tva TEXT,
            journal TEXT,
            montant_ttc REAL,
            source TEXT,
            date_apprentissage TEXT
        );
INSERT INTO historique_apprentissage_ia_v2 VALUES(1,'FACTURE2026-71763 2026-71763','706','44566','VEN',10.0,'VALIDATION_PRECOMPTA','2026-05-08 09:36:57');
INSERT INTO historique_apprentissage_ia_v2 VALUES(2,'FACTURE2026-71763 2026-71763','706','44566','VEN',10.0,'VALIDATION_PRECOMPTA','2026-05-08 09:37:45');
CREATE TABLE workflow_expert_comptable_v2 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            document_id INTEGER,
            statut TEXT,
            validateur TEXT,
            commentaire TEXT,
            date_action TEXT
        );
INSERT INTO workflow_expert_comptable_v2 VALUES(1,3,'APPROUVE','expert_local','Validation expert-comptable simul├®e','2026-05-08 09:39:11');
INSERT INTO workflow_expert_comptable_v2 VALUES(2,3,'REJETE','expert_local','Validation expert-comptable simul├®e','2026-05-08 09:39:32');
CREATE TABLE clotures_comptables_v3 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            date_cloture TEXT,
            total_debit REAL,
            total_credit REAL,
            resultat REAL,
            empreinte_sha256 TEXT,
            statut TEXT
        );
INSERT INTO clotures_comptables_v3 VALUES(1,'2026-05-08 09:58:55',532.49,532.49,0.0,'1e682afa9a46870cc9a3a3aa9e4735479dab5529b66abe1491d158534750980f','CLOTURE_SIMULEE');
CREATE TABLE connecteurs_bancaires_dsp2_v3 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            banque TEXT,
            statut TEXT,
            derniere_synchro TEXT,
            commentaire TEXT
        );
INSERT INTO connecteurs_bancaires_dsp2_v3 VALUES(1,'BANQUE_DEMO_DSP2','SYNCHRONISE','2026-05-08 09:59:35','Simulation DSP2 locale. Pas encore de connexion bancaire r├®elle.');
CREATE TABLE lettrages_auto_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            compte TEXT,
            libelle TEXT,
            montant REAL,
            statut TEXT,
            date_lettrage TEXT
        );
INSERT INTO lettrages_auto_v4 VALUES(1,'411','VENTE Qonto (Olinda SAS) n',522.49,'LETTRAGE_SUGGERE','2026-05-08 12:56:11');
INSERT INTO lettrages_auto_v4 VALUES(2,'411','VENTE FACTURE2026-71763 2026-71763',10.0,'LETTRAGE_SUGGERE','2026-05-08 12:56:11');
CREATE TABLE relances_clients_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            client TEXT,
            facture TEXT,
            montant REAL,
            niveau TEXT,
            message TEXT,
            date_relance TEXT
        );
INSERT INTO relances_clients_v4 VALUES(1,'murielle','FD-2026-00001',300.0,'RELANCE_1','Relance automatique : facture FD-2026-00001 de 300.0 EUR en attente de paiement.','2026-05-08 12:56:17');
INSERT INTO relances_clients_v4 VALUES(2,'murielle','FD-2026-00002',240.0,'RELANCE_1','Relance automatique : facture FD-2026-00002 de 240.0 EUR en attente de paiement.','2026-05-08 12:56:17');
CREATE TABLE echeancier_fournisseurs_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            fournisseur TEXT,
            facture TEXT,
            montant REAL,
            date_echeance TEXT,
            statut TEXT
        );
CREATE TABLE immobilisations_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            valeur REAL,
            duree INTEGER,
            date_acquisition TEXT,
            compte TEXT
        );
CREATE TABLE analytique_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            axe TEXT,
            compte TEXT,
            montant REAL,
            commentaire TEXT
        );
CREATE TABLE budgets_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            axe TEXT,
            budget REAL,
            realise REAL,
            ecart REAL
        );
CREATE TABLE roles_permissions_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            utilisateur TEXT,
            role TEXT,
            permission TEXT,
            statut TEXT
        );
CREATE TABLE journal_legal_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            evenement TEXT,
            detail TEXT,
            empreinte_sha256 TEXT,
            date_evenement TEXT
        );
INSERT INTO journal_legal_v4 VALUES(1,'CONTROLE_LEGAL','Journalisation l├®gale compl├¿te simul├®e','0347962947334025d2195df3536e0bd90f8550bce86e4443ed5fb7e1f2bf3cb0','2026-05-08 12:56:41');
CREATE TABLE coffre_fort_probatoire_v4 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            fichier TEXT,
            chemin TEXT,
            empreinte_sha256 TEXT,
            date_depot TEXT
        );
INSERT INTO coffre_fort_probatoire_v4 VALUES(1,'coffre_probatoire_20260508_125649.sqlite','C:/Users/alain/mon-projet-agent/coffre_fort_probatoire_v4\coffre_probatoire_20260508_125649.sqlite','3bb0ac74adb9a7693033b631ebb516315e9cc9e73336700cd3b3c9e3c8fc8842','2026-05-08 12:56:49');
CREATE TABLE parametres_societe_v5 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            raison_sociale TEXT,
            siret TEXT,
            tva_intracom TEXT,
            adresse TEXT,
            email TEXT,
            date_modification TEXT
        );
CREATE TABLE numerotation_officielle_v5 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            type_document TEXT,
            prefixe TEXT,
            prochain_numero INTEGER,
            date_modification TEXT
        );
CREATE TABLE exercices_comptables_v5 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            date_debut TEXT,
            date_fin TEXT,
            statut TEXT,
            date_creation TEXT
        );
CREATE TABLE journal_actions_v5 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            action TEXT,
            detail TEXT,
            date_action TEXT
        );
INSERT INTO journal_actions_v5 VALUES(1,'SAUVEGARDE_AVANT_CLOTURE','Sauvegarde cr├®├®e : C:/Users/alain/mon-projet-agent/sauvegardes_avant_cloture_v5\sauvegarde_avant_cloture_20260508_143708.sqlite','2026-05-08 14:37:08');
CREATE TABLE sauvegardes_avant_cloture_v5 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            fichier TEXT,
            chemin TEXT,
            empreinte_sha256 TEXT,
            date_sauvegarde TEXT
        );
INSERT INTO sauvegardes_avant_cloture_v5 VALUES(1,'sauvegarde_avant_cloture_20260508_143708.sqlite','C:/Users/alain/mon-projet-agent/sauvegardes_avant_cloture_v5\sauvegarde_avant_cloture_20260508_143708.sqlite','5bb34a965c72a9e557e9fddf178bab5315bc38ef37142659a58766a32b0febdb','2026-05-08 14:37:08');
CREATE TABLE tenants_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            code TEXT,
            statut TEXT,
            date_creation TEXT
        );
CREATE TABLE abonnements_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            tenant TEXT,
            plan TEXT,
            prix REAL,
            statut TEXT,
            date_creation TEXT
        );
CREATE TABLE droits_modules_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            utilisateur TEXT,
            module TEXT,
            droit TEXT,
            date_creation TEXT
        );
CREATE TABLE journal_acces_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            utilisateur TEXT,
            ip TEXT,
            page TEXT,
            date_acces TEXT
        );
INSERT INTO journal_acces_v6 VALUES(1,'utilisateur_local','127.0.0.1','/ecritures/journal-acces-v6','2026-05-08 15:17:48');
CREATE TABLE mode_application_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            mode TEXT,
            date_activation TEXT
        );
INSERT INTO mode_application_v6 VALUES(1,'LECTURE_SEULE','2026-05-08 15:18:20');
INSERT INTO mode_application_v6 VALUES(2,'MAINTENANCE','2026-05-08 15:18:30');
CREATE TABLE erreurs_systeme_v6 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            type_erreur TEXT,
            message TEXT,
            date_erreur TEXT
        );
INSERT INTO erreurs_systeme_v6 VALUES(1,'SIMULATION','Erreur simul├®e pour tester le monitoring','2026-05-08 15:18:40');
CREATE TABLE taches_automatiques_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            type_tache TEXT,
            frequence TEXT,
            statut TEXT,
            derniere_execution TEXT,
            date_creation TEXT
        );
INSERT INTO taches_automatiques_v7 VALUES(1,'Test scheduler','Test','quotidienne','ACTIVE','','2026-05-09 02:23:17');
INSERT INTO taches_automatiques_v7 VALUES(2,'Robot relances clients','RELANCES_CLIENTS','quotidienne','ACTIVE','','2026-05-09 13:59:28');
CREATE TABLE scenarios_intelligents_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            condition_declenchement TEXT,
            action TEXT,
            statut TEXT,
            date_creation TEXT
        );
CREATE TABLE alertes_metier_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            alerte TEXT,
            niveau TEXT,
            date_alerte TEXT
        );
INSERT INTO alertes_metier_v7 VALUES(1,'ALERTE : 2 facture(s) non pay├®e(s).','CRITIQUE','2026-05-08 22:44:41');
INSERT INTO alertes_metier_v7 VALUES(2,'ALERTE : 2 document(s) comptable(s) ├á traiter.','CRITIQUE','2026-05-08 22:44:41');
CREATE TABLE notifications_internes_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            destinataire TEXT,
            message TEXT,
            statut TEXT,
            date_creation TEXT
        );
INSERT INTO notifications_internes_v7 VALUES(1,'Alain baudinaud','mmmmmmmmmmmm','NON_LUE','2026-05-09 14:51:31');
INSERT INTO notifications_internes_v7 VALUES(2,'admin','Relances clients : v├®rification automatique effectu├®e par le robot V7.','NON_LUE','2026-05-09 23:37:36');
INSERT INTO notifications_internes_v7 VALUES(3,'admin','Relances clients : v├®rification automatique effectu├®e par le robot V7.','NON_LUE','2026-05-09 23:42:15');
CREATE TABLE emails_automatiques_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            destinataire TEXT,
            sujet TEXT,
            message TEXT,
            statut TEXT,
            date_creation TEXT
        );
INSERT INTO emails_automatiques_v7 VALUES(1,'murielle','Relance facture FD-2026-00001','Relance automatique : facture FD-2026-00001 de 300.0 EUR en attente de paiement.','BROUILLON_EMAIL','2026-05-08 22:46:57');
INSERT INTO emails_automatiques_v7 VALUES(2,'murielle','Relance facture FD-2026-00002','Relance automatique : facture FD-2026-00002 de 240.0 EUR en attente de paiement.','BROUILLON_EMAIL','2026-05-08 22:46:57');
INSERT INTO emails_automatiques_v7 VALUES(3,'murielle','Relance facture FD-2026-00001','Relance automatique : facture FD-2026-00001 de 300.0 EUR en attente de paiement.','BROUILLON_EMAIL','2026-05-08 22:48:04');
CREATE TABLE scheduler_automatique_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nom TEXT,
            prochaine_execution TEXT,
            statut TEXT
        );
INSERT INTO scheduler_automatique_v7 VALUES(1,'Scheduler quotidien ComptaPilot','2026-05-08 22:48:27','PLANIFIE');
CREATE TABLE journal_orchestration_v7 (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            evenement TEXT,
            detail TEXT,
            date_evenement TEXT
        );
CREATE TABLE signatures (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            document TEXT,
            signataire TEXT,
            date_signature TEXT,
            empreinte_sha256 TEXT
        );
INSERT INTO signatures VALUES(1,'TEST_DOC','ALAIN','2026-05-09 01:45:31','403655f4323f728364790d5bcb4e917eeab9ce97db922a46c1ea3e0c7171b3cc');
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',2);
INSERT INTO sqlite_sequence VALUES('plan_comptable',12);
INSERT INTO sqlite_sequence VALUES('ecritures',48);
PRAGMA writable_schema=OFF;
COMMIT;
